<!--
To use this navbar, just remove '-old' in template name
-->

<template name="classicHeader">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- La navbar header pour le mobile -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Display menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand blog-navbar-brand" href="/">YouTrip</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                    {{# if currentUser }}
                        <li><a href="/blog">Dashboard</a></li>
                        <li><a href="/blog/post/new">New Post</a></li>
                        <li><a href="/feed/{{ currentUser._id }}">My Blog</a></li>
                    {{/if }}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</template>