<template name="aboutYouTripTpl">

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{> blogHeader }}
    <header class="blog-intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row blog-row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="blog-site-heading">
                        <h1>YouTrip</h1>
                        <hr class="small blog-small">
                        <span class="blog-subheading">Welcome on our application</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->




    <h1> Who are we?</h1>

    <p align="center"> We are students in our final year of Master's degree of Business Informatics (MIAGE) at the University of Bordeaux (France).
        We got the idea to create this website for the needs of a course nammed TDA (Application developement methods) during our spring semester.

    </p>

    <h1>About our Master's degree</h1>
    <p align="center">
        The Master MIAGE is a Master of Business Informatics, meaning it's a program that combine information technology(IT)
        and management courses. This program in present in more than 20 universities in France.
    </p>


    <footer>

        {{> classicFooterTpl }}

    </footer>





</template>