<template name="aboutYouTripTpl">

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{> blogHeader }}
    <header class="blog-intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row blog-row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="blog-site-heading">
                        <h1>YouTrip</h1>
                        <hr class="small blog-small">
                        <span class="blog-subheading">Welcome on our application</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->




       <h1> Qui sommes nous ?</h1>

       <p align="center"> Nous sommes un groupe d'étudiants en deuxième année de Master MIAGE (Méthodes Informatiques Appliquées à la Gestion d'Entreprise) à l'Université de Bordeaux.
           Nous avons eu l'idée de cette plateforme pour les besoins d'un cours du second semestre nommé TDA.

       </p>

       <p>    A completer
       </p>


    <footer>

        {{> classicFooterTpl }}

    </footer>





</template>