<template name="cgu">

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{> blogHeader }}
    <header class="blog-intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row blog-row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="blog-site-heading">
                        <h1>YouTrip</h1>
                        <hr class="small blog-small">
                        <span class="blog-subheading">Welcome on our application</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
     <section class="Marketing" >
        <div class="Marketing-block ">
            <article class="Marketing-content  MarketingContent  c-box  u-hidden--xs">
                <div class="MarketingContent-text" align="left">
                    <h2 class="Marketing-title">Conditions Générales d'Utilisation</h2>
                    <h3>PREAMBULE</h3>

                    <p>Les pr&eacute;sentes Conditions G&eacute;n&eacute;rales d&#39;Utilisation d&eacute;crivent les termes et conditions dans lesquels la soci&eacute;t&eacute;
                    YouTrip fournit un service de cr&eacute;ation et d&#39;h&eacute;bergement de Blogs (ci-apr&egrave;s le &quot;service&quot; ou la &laquo; plateforme &raquo;) &agrave; l&#39;utilisateur.
                    </p>

                    <p>L&rsquo;acc&egrave;s &agrave; ce Service est subordonn&eacute; au respect des pr&eacute;sentes Conditions G&eacute;n&eacute;rales d&rsquo;Utilisation.
                        Tout internaute souhaitant y acc&eacute;der doit avoir pris connaissance pr&eacute;alablement de ces Conditions G&eacute;n&eacute;rales d&rsquo;Utilisation et s&#39;engage &agrave; les respecter sans r&eacute;serve.</p>

                    <p>Conform&eacute;ment aux dispositions de l&rsquo;article 6 de la loi du 21 juin 2004, le contenu des Blogs n&rsquo;est pas de la responsabilit&eacute; de la soci&eacute;t&eacute; YouTrip.</p>

                    <p>YouTrip est une plateforme respectueuse de vos droits : tout texte, toute photo, toute vid&eacute;o que vous publiez et dont vous &ecirc;tes l&rsquo;auteur ou sur laquelle vous avez tout droit est, et plus important, sera, cela quels que soient les changements futurs qui puissent &ecirc;tre apport&eacute;s aux pr&eacute;sentes conditions
                        g&eacute;n&eacute;rales d&rsquo;utilisation, votre seule propri&eacute;t&eacute;.</p>

                    <p>YouTrip est un espace de libre-expression : aucune censure n&#39;est pratiqu&eacute;e sur les pages des &eacute;diteurs de Blogs, qui s&#39;engagent
                        en contrepartie &agrave; respecter strictement les lois Fran&ccedil;aises ainsi que celles du pays autre que la France &agrave; partir duquel ils &eacute;diteraient
                        leur Blog, d&egrave;s lors que ce pays est un &eacute;tat de droit respectant la libert&eacute; d&rsquo;expression.&nbsp;</p>

                    <p>Tout utilisateur de la plateforme YouTrip
                    peut raconter, argumenter, critiquer ce qu&#39;il d&eacute;sire d&egrave;s lors qu&rsquo;il s&rsquo;assure de la lic&eacute;it&eacute; de ses propos.</p>

                    <h4>Mentions l&eacute;gales:</h4>

                    <p>YouTrip n'est une marque d&eacute;pos&eacute;e. Le Site <a href="http://www.youTrip.com" target="_blank">www.youTrip.com</a> n'a pas &eacute;t&eacute; d&eacute;clar&eacute; &agrave; la CNIL. Il n'a été crée que pour les besoin d'un projet universitaire d'un groupe d'étudiants en Master 2 MIAGE à l'université de Bordeaux. </p>

                    <h3>Article 1 &ndash; PROPRIETE INTELLECTUELLE</h3>

                    <p>La pr&eacute;sentation et chacun des &eacute;l&eacute;ments, y compris les marques, logos et noms de domaine, apparaissant sur le site <a href="http://www.youTrip.com" target="_blank">www.youTrip.com</a> (&agrave; ne pas confondre avec la plateforme YouTrip,
                        qui comprend le site <a href="http://www.youTrip.com" target="_blank">www.youTrip.com</a> ainsi que les Blogs des utilisateurs du service YouTrip), sont prot&eacute;g&eacute;s par
                        les lois en vigueur sur la propri&eacute;t&eacute; intellectuelle, et appartiennent &agrave; YouTrip ou font l&#39;objet d&#39;une autorisation d&#39;utilisation.</p>

                    <p>Aucun &eacute;l&eacute;ment composant le site <a href="http://www.youTrip.com" target="_blank">www.youTrip.com</a> ne peut &ecirc;tre copi&eacute;, reproduit, modifi&eacute;,
                        r&eacute;&eacute;dit&eacute;, charg&eacute;, d&eacute;natur&eacute;, transmis ou distribu&eacute; de quelque mani&egrave;re que ce soit, sous quelque support que ce soit, de fa&ccedil;on
                        partielle ou int&eacute;grale, sans l&#39;autorisation &eacute;crite et pr&eacute;alable de YouTrip &agrave; l&#39;exception d&#39;une stricte utilisation pour les besoins de la presse et
                        sous r&eacute;serve de l&rsquo;autorisation expresse de YouTrip.</p>

                    <p>Toute repr&eacute;sentation totale ou partielle de la plateforme par quelque proc&eacute;d&eacute; que ce soit, sans
                    l&#39;autorisation expresse de YouTrip est interdite et constituerait une contrefa&ccedil;on sanctionn&eacute;e par les articles L.335-2 et suivants du Code de la
                    propri&eacute;t&eacute; intellectuelle. YouTrip se r&eacute;serve le droit de poursuivre tout acte de contrefa&ccedil;on de ses droits de propri&eacute;t&eacute; intellectuelle.</p>

                    <p>Seule la copie &agrave; usage priv&eacute; est autoris&eacute;e ou un dispositif de traduction du site non permanent, pour votre usage personnel, priv&eacute; et non-professionnel.</p>

                    <h3>Article 2 &ndash; OBJET</h3>
                    <p>YouTrip est le nom de la plateforme technique (scripts, programmes, m&eacute;thodes) et se limite au seul site <a href="http://www.youTrip.com" target="_blank">www.youTrip.com</a> .
                        YouTrip fournit &agrave; tout particulier, association, collectivit&eacute; ou entreprise son service de mani&egrave;re gratuite.</p>

                    <p>Les pr&eacute;sentes conditions ont pour objet de pr&eacute;ciser les conditions sous lesquelles un utilisateur peut &eacute;diter un Blog sur le service YouTrip, Blog qu&#39;il
                        administre seul ou &agrave; plusieurs (&eacute;tant consid&eacute;r&eacute; comme responsable &eacute;ditorial celui qui proc&egrave;de &agrave; la cr&eacute;ation du Blog ou
                        se d&eacute;signant explicitement comme le responsable), notamment au moyen d&#39;un outil de cr&eacute;ation et de publication directement disponible en ligne accessible par mot de
                        passe et identifiant (son email).</p>

                    <p>Tout Blog est sous la responsabilit&eacute; unique de son cr&eacute;ateur. YouTrip ne saurait &ecirc;tre tenue responsable d&#39;une utilisation frauduleuse / malveillante de son
                        service.</p>

                    <h3>Article 3 &ndash; DESCRIPTION GENERALE DU SERVICE</h3>

                    <p>La soci&eacute;t&eacute; YouTrip propose par l&rsquo;interm&eacute;diaire du service YouTrip un outil permettant &agrave; toute personne de cr&eacute;er et &eacute;diter un Blog,
                        et de pr&eacute;senter sur ce blog tout contenu dont il est l&rsquo;auteur ou titulaire des droits n&eacute;cessaires, y compris des contenus ayant fait l&rsquo;objet d&rsquo;une
                        publication sur tout service tiers et &eacute;tranger &agrave; YouTrip.</p>

                    <p>Tout utilisateur du service YouTrip reconna&icirc;t avoir la comp&eacute;tence et les moyens notamment techniques n&eacute;cessaires pour acc&eacute;der &agrave; la plateforme,
                        et avoir v&eacute;rifi&eacute; que la configuration informatique utilis&eacute;e ne contient aucun virus et qu&#39;elle est en parfait &eacute;tat de fonctionnement.
                        L&#39;utilisateur s&#39;engage &agrave; avoir v&eacute;rifi&eacute; que la configuration de son mat&eacute;riel ne portera aucun pr&eacute;judice au service propos&eacute; par la
                        soci&eacute;t&eacute; YouTrip.</p>

                    <p>Un utilisateur a la possibilit&eacute; de cr&eacute;er un ou plusieurs Blogs, avec un identifiant, un mot de passe et une adresse url diff&eacute;rente pour chaque Blog.
                        L&rsquo;utilisateur se porte garant de la confidentialit&eacute; du mot de passe servant &agrave; l&rsquo;acc&egrave;s au service et accepte de porter toutes les responsabilit&eacute;s
                        li&eacute;es aux actes commis avec ce mot de passe.&nbsp;</p>

                    <p>L&rsquo;utilisateur s&#39;engage &agrave; ne pas usurper l&rsquo;identit&eacute; d&rsquo;un tiers, sauf exception de parodie, auquel cas l&rsquo;utilisateur s&rsquo;engage &agrave;
                        indiquer clairement aux internautes que son blog est une parodie / un pastiche. YouTrip ne supprimera en aucun cas un blog respectant cette simple obligation.</p>

                    <h3>Article 4 &ndash; ACCES ET ADMINISTRATION D&rsquo;UN BLOG</h3>

                    <p>L&rsquo;administration du Blog cr&eacute;&eacute; par un utilisateur est accessible via l&rsquo;adresse <a href="http://www.youTrip.com" target="_blank">www.youTrip.com</a> .
                        L&rsquo;utilisateur se connecte sur le site <a href="http://www.youTrip.com" target="_blank">www.youTrip.com</a> et s&rsquo;identifie gr&acirc;ce &agrave; l&rsquo;adresse de son
                        mail et son mot de passe qu&rsquo;il a respectivement transcrits dans le formulaire d&rsquo;inscription au service.&nbsp;</p>

                    <p>Sit&ocirc;t apr&egrave;s l&rsquo;inscription en ligne pour la cr&eacute;ation d&rsquo;un Blog, l&#39;utilisateur s&#39;engage strictement &agrave; fournir des informations
                        v&eacute;ridiques, exactes, &agrave; jour et compl&egrave;tes sur lui-m&ecirc;me dans l&rsquo;espace de l&rsquo;administration de son blog pr&eacute;vu &agrave; cet effet.
                        YouTrip est tenue par l&rsquo;article 6 de la loi du 21 Juin 2004 &agrave; une obligation de secret professionnel sur ces donn&eacute;es communiqu&eacute;es par l&rsquo;&eacute;diteur
                        du blog, et ces donn&eacute;es ne pourront &ecirc;tre transmises &agrave; tout tiers que sur r&eacute;quisition ou ordonnance judiciaire.&nbsp;</p>

                    <p>L&#39;utilisateur s&#39;engage &agrave; tenir &agrave; jour sans d&eacute;lai les donn&eacute;es qu&#39;il a communiqu&eacute;es lors de son inscription en ligne d&egrave;s lors que tout
                        ou partie de celles-ci ne seraient plus en ad&eacute;quation avec sa situation r&eacute;elle.</p>

                    <p>L&rsquo;utilisateur se d&eacute;clare inform&eacute; que par nature, un blog est public et que tout tiers pourra consulter ce dernier et ces contenus.&nbsp;</p>

                    <h3>Article 5 &ndash; OBLIGATIONS DE L&rsquo;UTILISATEUR</h3>

                    <p>Il est rappel&eacute; que seul l&rsquo;utilisateur est responsable du contenu qu&rsquo;il diffuse sur Internet et sur son Blog, en aucun cas YouTrip sera consid&eacute;r&eacute;
                        comme responsable du contenu cr&eacute;&eacute; par l&#39;utilisateur.</p>

                    <p>L&#39;utilisateur s&#39;engage &agrave; ce que le contenu de son Blog soit en conformit&eacute; avec les lois et r&egrave;glements en vigueur en France, et le cas &eacute;ch&eacute;ant
                        dans le pays &agrave; partir duquel il &eacute;dite son Blog, d&egrave;s lors que ce pays est un &eacute;tat de droit respectant la libert&eacute; d&rsquo;expression.</p>

                    <p>L&#39;utilisateur s&#39;engage tout particuli&egrave;rement &agrave; ce que aucun contenu puisse &ecirc;tre qualifi&eacute; de p&eacute;dophile (p&eacute;do-pornographique), sous peine
                        de quoi, d&egrave;s lors que YouTrip aurait pris connaissance de pareil contenu sur un Blog qu&#39;elle h&eacute;berge, le Blog serait imm&eacute;diatement et dans son
                        int&eacute;gralit&eacute; supprim&eacute;, et les coordonn&eacute;es de l&#39;utilisateur transmises aux autorit&eacute;s comp&eacute;tentes.</p>

                    <h4>Article 5.1 : Protection de l&#39;Enfance :</h4>
                    <ul>
                        <li>En partenariat avec l&#39;association de protection de l&#39;enfance sur internet &quot;<a href="http://www.e-enfance.org/" taget="_blank">e-enfance</a>&quot;, la soci&eacute;t&eacute;
                        YouTrip concourt &agrave; la protection de l&#39;enfance en r&eacute;agissant dans un d&eacute;lai tr&egrave;s rapide aux notifications qui lui sont transmises. Par ailleurs, pour toute
                        question relative &agrave; la protection de l&#39;enfance, il est mis &agrave; la disposition des internautes le num&eacute;ro national du service Net Ecoute +33 (0)820 200 000 (0,09 cent/min).</li>
                    </ul>
                    <h4>Article 5.2 : Contenus manifestement illicites :</h4>
                    <ul>
                        <li>Le contenu publi&eacute; par l&rsquo;utilisateur ne doit pas inciter &agrave; la haine, &agrave; la violence, &agrave; l&#39;anorexie, &agrave; la fabrication et utilisation
                        d&#39;explosifs, au suicide, au racisme, &agrave; l&#39;antis&eacute;mitisme, &agrave; la x&eacute;nophobie, &agrave; l&rsquo;homophobie, faire l&#39;apologie des crimes de guerre ou
                        des crimes contre l&#39;humanit&eacute; ;</li>
                        <li>Le contenu publi&eacute; par l&#39;utilisateur ne doit pr&eacute;senter en aucun cas un caract&egrave;re p&eacute;dophile ;</li>
                        <li>Le contenu publi&eacute; par l&rsquo;utilisateur ne doit pas inciter &agrave; commettre un crime ou un acte de terrorisme ;&nbsp;</li>
                        <li>Le contenu publi&eacute; par l&rsquo;utilisateur ne doit pas inciter &agrave; la discrimination d&#39;une personne ou d&#39;un groupe de personne en raison de son appartenance &agrave;
                            une ethnie, &agrave; une religion, &agrave; une race, ou du fait de son orientation sexuelle ou de son handicap.&nbsp;</li>
                    </ul>

                    <h4>Article 5.3 : Contenus litigieux :</h4>
                    <ul>
                        <li>&bull;L&#39;utilisateur s&#39;engage &agrave; prendre connaissance avant toute publication des r&egrave;gles et limites relatives &agrave; la libert&eacute; d&#39;expression.
                        La libert&eacute; d&#39;expression autorise la critique, le rapport d&#39;informations v&eacute;rifi&eacute;es et prouv&eacute;es, elle n&#39;autorise pas le d&eacute;nigrement et la
                        diffamation de mauvaise foi. Tout d&eacute;nigrement, diffamation, ou all&eacute;gation d&#39;informations inexactes ou volontairement tronqu&eacute;es pour en changer le sens peuvent
                        entrainer des poursuites &agrave; l&#39;encontre de leur auteur.&nbsp;</li>
                        <li>&bull;Le contenu publi&eacute; par l&rsquo;utilisateur ne doit pas pr&eacute;senter de caract&egrave;repornographique (pour ce type de contenu, une plateforme d&#39;h&eacute;bergement d&eacute;di&eacute;e
                            au contenu &eacute;rotique/pornographique accessible &agrave; l&#39;adresse www.erog.fr);</li>
                        <li>&bull;Le contenu publi&eacute; par l&rsquo;utilisateur ne doit pas porter atteinte &agrave; la vie priv&eacute;e de tiers et &agrave; leur image, lorsque que ces droits sont
                        sup&eacute;rieurs au droit &agrave; l&rsquo;information du public ;&nbsp;</li>

                    <li>&bull;Le contenu publi&eacute; par l&rsquo;utilisateur ne doit pas &ecirc;tre, au strict sens de la loi, d&eacute;nigrant ou diffamatoire de telle mani&egrave;re qu&rsquo;une
                        juridiction condamnerait l&rsquo;auteur de ces contenus. Il n&rsquo;est aucunement interdit &agrave; l&rsquo;utilisateur de critiquer d&egrave;s lors que cette critique est objective,
                        et mesur&eacute;e ;</li>

                    <li>&bull;Le contenu publi&eacute; par l&rsquo;utilisateur ne doit pas permettre &agrave; des tiers de se procurer des logiciels pirat&eacute;s, des num&eacute;ros de s&eacute;rie de
                        logiciels ou tout logiciel pouvant nuire ou porter atteinte, de quelque mani&egrave;re que ce soit, aux droits ou aux biens des tiers ;&nbsp;</li>

                    <li>&bull;Le contenu publi&eacute; par l&rsquo;utilisateur ne doit pas porter atteinte aux droits de propri&eacute;t&eacute; intellectuelle de quelque personne physique ou morale que ce soit.</li>
                    </ul>
                    <h4>Article 5.4 : Commerce / Publicit&eacute;</h4>

                    <p>&bull;Il est interdit &agrave; toute personne physique ou morale de contacter un ou plusieurs &eacute;diteurs de Blogs afin de lui proposer une r&eacute;mun&eacute;ration ou une
                        quelconque r&eacute;compense en &eacute;change d&#39;une prestation publicitaire de la part de l&#39;&eacute;diteur du Blog; toute demande de ce type ne peut se faire qu&#39;avec
                        l&#39;accord express de YouTrip ;</p>


                    <p>&bull;L&rsquo;utilisateur ne doit en aucun cas proposer la vente, le don ou l&#39;&eacute;change de biens vol&eacute;s ou issus d&#39;un d&eacute;tournement, d&#39;une escroquerie,
                        d&#39;un abus de confiance ou de toute autre infraction p&eacute;nale ; toute personne d&eacute;tectant ou suspectant que des ventes faites par un utilisateur ne sont pas
                        r&eacute;guli&egrave;res doit en informer imm&eacute;diatement l&#39;&eacute;quipe d&#39;YouTrip, par l&#39;interm&eacute;diaire des formulaires contact pr&eacute;sent sur le Blog ;&nbsp;</p>


                    <p>&bull;L&#39;utilisateur peut afficher de la publicit&eacute;, ou faire la promotion d&#39;une association, soci&eacute;t&eacute;, produit d&egrave;s lors que cette
                        publicit&eacute; serait spontan&eacute;e de la part de l&#39;utilisateur, et qu&#39;il aurait toute les autorisations de la part de l&#39;association / soci&eacute;t&eacute;
                        vis&eacute;e par la dite publicit&eacute;.&nbsp;</p>


                    <p>&bull;L&#39;utilisateur autorise YouTrip &agrave; r&eacute;f&eacute;rencer son Blog de quelque mani&egrave;re que ce soit et par tout moyen de communication,
                    notamment par l&#39;insertion de liens &agrave; partir et vers le Blog dans les outils d&#39;indexation du Site <a href="http://www.youTrip.com" target="_blank">www.youTrip.com</a>
                    YouTrip ne peut &ecirc;tre consid&eacute;r&eacute;e comme responsable des dommages li&eacute;s &agrave; ce r&eacute;f&eacute;rencement.</p>

                    <h4>Article 5.5 : Propri&eacute;t&eacute; Intellectuelle / Divers :</h4>

                    <p>L&#39;utilisateur garantit que toutes les informations, donn&eacute;es, fichiers, films, photographies, logiciels, ou bases de donn&eacute;es lui appartiennent ou sont libres
                        de droit.&nbsp;</p><p>L&#39;utilisateur s&#39;engage &agrave; ne pas utiliser les outils mis &agrave; disposition par YouTrip dans un but autre que la publication de son Blog
                    (en particulier sans s&#39;y limiter &agrave; une unique fin de stockage de contenus).&nbsp;</p>

                    <p>Dans les autres hypoth&egrave;ses, pour l&#39;utilisation, la reproduction, la repr&eacute;sentation ou la communication au public d&#39;une &oelig;uvre de l&#39;esprit
                        appartenant &agrave; un tiers et prot&eacute;g&eacute;e par la loi (et notamment mais non exclusivement logiciels, bases de donn&eacute;es, &oelig;uvres de l&#39;esprit,
                        marques, d&eacute;nominations sociales, brevet d&#39;inventions, dessins et mod&egrave;les), l&#39;utilisateur s&#39;engage &agrave; obtenir une autorisation pr&eacute;alable ou
                        une licence d&#39;utilisation des titulaires de ces droits, dans les conditions pos&eacute;es par les lois.&nbsp;</p>

                    <p>L&#39;utilisateur s&#39;engage &agrave; ne pas inclure sur son Blog des adresses ou des liens hypertextes renvoyant vers des sites ext&eacute;rieurs qui soient contraires aux
                        lois et r&egrave;glements en vigueur, et qui portent atteinte aux droits des tiers ou qui soient contraires aux pr&eacute;sentes Conditions G&eacute;n&eacute;rales
                        d&rsquo;Utilisation.</p>

                    <p>L&#39;utilisateur ne peut vendre ou mettre &agrave; disposition de tiers, &agrave; titre on&eacute;reux ou gratuit, les services propos&eacute;s par la soci&eacute;t&eacute;
                        YouTrip, notamment sur le Site <a href="http://www.youTrip.com" target="_blank">www.youTrip.com</a> , sans autorisation expresse de la soci&eacute;t&eacute; YouTrip.</p>

                    <p>Enfin, l&#39;utilisateur devra informer sans d&eacute;lai YouTrip de toute action en justice, et de toute plainte concernant le contenu de son Blog. Il devra r&eacute;pondre
                        aux demandes d&#39;informations de YouTrip faites en ce sens.</p>

                    <h4>Article 5.6 : Personnalisation de nos services</h4>

                    <p>Les donn&eacute;es vous concernant nous permettent de personnaliser et am&eacute;liorer les services que nous vous proposons et les informations que nous vous adressons.</p>


                    <h3>Article 6 &ndash; OBLIGATIONS DU VISITEUR</h3>

                    <p>Le visiteur s&#39;engage &agrave; ne visiter le site<a href="http://www.youTrip.com" target="_blank">www.youTrip.com</a> ainsi que tous les Blogs h&eacute;berg&eacute;s
                        sur celui-ci qu&#39;avec un navigateur supportant le JavaScript et acceptant les cookies.&nbsp;</p>

                    <p>Toute personne amen&eacute;e &agrave; laisser des commentaires ou &agrave; publier en tant qu&#39;auteur devra respecter les pr&eacute;sentes Conditions G&eacute;n&eacute;rales
                        d&#39;Utilisation. A ce titre, il est l&rsquo;unique responsable de ses commentaires, en aucun cas YouTrip ne pourra &ecirc;tre consid&eacute;r&eacute;e comme responsable
                        du contenu publi&eacute; par un visiteur.</p>

                    <p>Le visiteur s&rsquo;engage dans l&rsquo;utilisation du service &agrave; ne pas livrer &agrave; des actes, de quelque nature que ce soit qui seraient contraires &agrave; la loi
                        fran&ccedil;aise et le cas &eacute;ch&eacute;ant aux lois du pays &agrave; partir duquel il se connecte, qui porteraient atteinte &agrave; l&#39;ordre public fran&ccedil;ais ou
                        aux droits d&#39;un tiers.</p>

                    <h3>Article 7 &ndash; NON RESPECT DES CONDITIONS D&rsquo;UTILISATION</h3>

                    <p>Les utilisateurs sont invit&eacute;s &agrave; avertir YouTrip en cas de violation des pr&eacute;sentes Conditions G&eacute;n&eacute;rales d&#39;Utilisation
                        via le formulaire de contact accessible &agrave; partir de chaque Blog en cliquant sur le lien intitul&eacute; &laquo; FAQ &raquo;.</p>

                    <p>Toute notification abusive donnera lieu &agrave; des poursuites et sera passible de sanctions civiles ou p&eacute;nales.</p>

                    <p>YouTrip se r&eacute;serve un droit de suspension au service du fait d&rsquo;un manquement grave &agrave; ces Conditions G&eacute;n&eacute;rales d&rsquo;Utilisations
                        pour tout Blog ou utilisateur &agrave; son enti&egrave;re discr&eacute;tion, sans pr&eacute;avis, toute contestation &eacute;mise par l&rsquo;utilisateur devant
                        &ecirc;tre argument&eacute;e.</p>

                    <p>La suppression du Blog par son &eacute;diteur ou par YouTrip n&rsquo;entrainera pas la suppression de l&rsquo;url du Blog, cela pour &eacute;viter tout risque de confusion.</p>

                    <p>Ainsi &agrave; la suppression du Blog par son propri&eacute;taire ou par YouTrip, les donn&eacute;es concernant le cr&eacute;ateur du Blog et les utilisateurs du Blog ayant
                        post&eacute; des commentaires ne sont pas d&eacute;finitivement supprim&eacute;s, elles seront conserv&eacute;es selon la dur&eacute;e pr&eacute;vue par la loi.&nbsp;</p>

                    <p>Concernant les demandes de retrait ou de suppression de Blog, de commentaires, de photos ou vid&eacute;os, la loi du 21 juin 2004 pour la confiance dans l&rsquo;&eacute;conomie
                        num&eacute;rique (LCEN) indique que les h&eacute;bergeurs ne sont pas responsables d&#39;un contenu litigieux qu&#39;ils h&eacute;bergent d&egrave;s lors qu&#39;ils n&#39;a
                        pas &eacute;t&eacute; port&eacute; r&eacute;guli&egrave;rement &agrave; leur connaissance le caract&egrave;re litigieux de ce contenu.&nbsp;</p>

                    <p>Un tiers qui souhaite mettre fin &agrave; ce qu&#39;il consid&egrave;re comme un pr&eacute;judice doit donc initialement et imp&eacute;rativement prendre contact
                        avec l&#39;&eacute;diteur du Site (par l&#39;interm&eacute;diaire du formulaire contact pr&eacute;sent sur le Blog), et s&#39;il n&#39;arrive pas &agrave; le contacter
                        ou que l&#39;&eacute;diteur du Blog refuse de retirer le contenu notifi&eacute; malgr&eacute; une d&eacute;cision de justice l&#39;enjoignant &agrave; le faire, il
                        devra justifier aupr&egrave;s de la soci&eacute;t&eacute; YouTrip de cette impossibilit&eacute; de contacter l&#39;&eacute;diteur du Blog ou de faire ex&eacute;cuter
                        cette d&eacute;cision de justice.&nbsp;</p>

                    <p>En tout &eacute;tat de cause, YouTrip se r&eacute;serve le droit de refuser de donner suite &agrave; une notification abusive, c&#39;est &agrave; dire une notification
                        qui n&#39;ait pas &eacute;t&eacute; port&eacute; au pr&eacute;alable &agrave; la connaissance de l&#39;&eacute;diteur du Blog, ou une notification portant sur un contenu
                        non manifestement illicite.&nbsp;</p>

                    <h3>Article 8 &ndash; RESPONSABILITE DE YouTrip</h3>

                    <p>YouTrip ne peut &ecirc;tre consid&eacute;r&eacute;e comme responsable du contenu des blogs qu&rsquo;elle h&eacute;berge &eacute;dit&eacute;s par les utilisateurs
                        du service YouTrip.</p>

                    <p>L&#39;utilisateur accepte de faire son affaire personnelle et de d&eacute;gager YouTrip de toute responsabilit&eacute;, perte, r&eacute;clamation, litige, dommage ou
                        d&eacute;pense, y compris les frais de justice et de d&eacute;fense, revendiqu&eacute;s par un tiers ou par un autre utilisateur du fait de son blog et de tout
                        contenu publi&eacute; sur ce dernier.</p>

                    <p>La soci&eacute;t&eacute; YouTrip est tenue &agrave; une obligation de moyens dans le cadre des pr&eacute;sentes Conditions G&eacute;n&eacute;rales d&#39;Utilisation et
                        ne saurait en aucun cas &ecirc;tre responsable de toute perte, pr&eacute;judice ou dommage indirect de quelque nature que ce soit r&eacute;sultant de la gestion,
                        l&#39;utilisation, l&#39;exploitation, d&#39;une interruption ou d&#39;un dysfonctionnement du service.&nbsp;</p>

                    <p>La soci&eacute;t&eacute; YouTrip ne peut &ecirc;tre consid&eacute;r&eacute;e comme responsable du contenu des sites mentionn&eacute;s sur les blogs qu&rsquo;elle
                        h&eacute;berge et qui seraient &eacute;trangers au service YouTrip. Conform&eacute;ment &agrave; la loi, YouTrip n&rsquo;effectue aucun
                        contr&ocirc;le &agrave; priori des contenus qu&rsquo;elle h&eacute;berge et n&rsquo;effectue des v&eacute;rifications que sur les contenus qui lui
                        sont r&eacute;guli&egrave;rement notifi&eacute;s.&nbsp;</p>

                    <p>L&rsquo;utilisateur reconna&icirc;t &ecirc;tre seul responsable des liens hypertextes et adresses Internet qu&#39;il inclut sur son Blog et garantit la
                        soci&eacute;t&eacute; YouTrip, ses filiales, dirigeants, agents et employ&eacute;s contre tout litige ou toute r&eacute;clamation relative &agrave; ces liens.&nbsp;</p>

                    <p>La soci&eacute;t&eacute; YouTrip ne garantit pas contre et ne peut &ecirc;tre consid&eacute;r&eacute;e comme responsable de la perte ou de l&#39;alt&eacute;ration des
                        fichiers ou donn&eacute;es que l&#39;utilisateur transf&egrave;re sur son Blog.</p>

                    <p>L&#39;utilisateur accepte de transf&eacute;rer ces donn&eacute;es et fichiers sous sa seule responsabilit&eacute; et en connaissance de cause. Il incombe &agrave;
                        l&#39;utilisateur d&#39;effectuer toute mesure de sauvegarde qui lui semblera n&eacute;cessaire.&nbsp;</p>

                    <p>YouTrip se r&eacute;serve le droit d&#39;inclure un bandeau, un pav&eacute; ou une fen&ecirc;tre surgissante &agrave; caract&egrave;re publicitaire sur le Blog
                        de l&#39;utilisateur, quel que soit l&#39;annonceur, et quel que soit le support (ordinateur, appareil mobile) utilis&eacute; par le visiteur. En aucun cas,
                        l&#39;utilisateur ne pourra exiger un prix ou une indemnisation de la part de YouTrip ou de l&#39;annonceur. YouTrip se r&#xE9;serve le droit de supprimer,
                        modifier, d&#xE9;placer ce bandeau publicitaire sans autorisation pr&#xE9;alable de l&#x27;utilisateur.</p>

                    <p>YouTrip ne garantit pas une fr&eacute;quentation minimum du Blog de l&#39;utilisateur. Par ailleurs, YouTrip ne garantit pas &agrave; l&rsquo;utilisateur son
                        r&eacute;f&eacute;rencement dans tout moteur de recherche, la politique de ces derniers lui &eacute;tant &eacute;trang&egrave;re et pouvant &eacute;voluer &agrave;
                        tout moment. YouTrip s&rsquo;engage toutefois &agrave; ce que le r&eacute;f&eacute;rencement des blogs qu&rsquo;elle h&eacute;berge soit optimis&eacute; selon les
                        techniques de r&eacute;f&eacute;rencement reconnues et autoris&eacute;es par les moteurs de recherche.</p>

                    <p>YouTrip ne garantit pas la r&eacute;alisation d&#39;un quelconque chiffre d&#39;affaire ou b&eacute;n&eacute;fice par l&#39;utilisateur.</p>

                    <h3>Article 9 &ndash; MODIFICATION DE SERVICE & FORCE MAJEURE</h3>

                    <p>La soci&eacute;t&eacute; YouTrip ne pourra &ecirc;tre tenue pour responsable, ou consid&eacute;r&eacute;e comme ayant failli aux pr&eacute;sentes conditions,
                        pour tout retard ou inex&eacute;cution, lorsque la cause du retard ou de l&#39;inex&eacute;cution est li&eacute;e &agrave; un cas de force majeure telle que
                        d&eacute;finie par la jurisprudence des cours et tribunaux fran&ccedil;ais y compris l&#39;interruption, la suspension, la r&eacute;duction ou les d&eacute;rangements
                        de l&#39;&eacute;lectricit&eacute; ou autres ou toutes interruptions de r&eacute;seaux de t&eacute;l&eacute;communications.&nbsp;</p>

                    <p>Bien que souhaitant offrir le meilleur service possible &agrave; ses utilisateurs, YouTrip ne peut s&rsquo;engager &agrave; ce que son service soit totalement
                        ininterrompu.</p>

                    <p>De plus, la soci&eacute;t&eacute; YouTrip se r&eacute;serve la possibilit&eacute; de modifier le contenu de la
                        page <a href="http://www.youTrip.com" target="_blank">www.youTrip.com</a> et de la page d&rsquo;administration des utilisateurs &agrave; sa seule convenance,
                        &agrave; tout moment et sans avertissement pr&eacute;alable.</p>

                    <p>YouTrip se r&eacute;serve la possibilit&eacute; de rendre le Site ou les services momentan&eacute;ment indisponibles pour des raisons de maintenance ou de
                        proc&eacute;dures d&rsquo;actualisations.</p>

                    <p>De plus, la société YouTrip se réserve, cela à sa seule convenance, et dans l'intérêt des utilisateurs, la possibilité à tout moment et sans avertissement préalable
                        de modifier le service dans son ensemble, à savoir le contenu de la page www.youTrip.com, l’administration des utilisateurs, l'apparence des blogs des utilisateurs
                        (dans un objectif d'adaptation technologique) et le contenu de ses blogs (dans la forme et sur le fond lorsque notification justifiée).</p>

                    <h3>Article 10 &ndash; AUTORISATION DE DIFFUSION</h3>
                    <p>En s&rsquo;inscrivant au service YouTrip, l&#39;utilisateur autorise la soci&eacute;t&eacute; YouTrip si elle le souhaite &agrave; diffuser partiellement ou
                        int&eacute;gralement le contenu ou des &eacute;l&eacute;ments de son Blog, notamment sur la
                        plateforme <a href="http://www.youTrip.com" target="_blank">www.youTrip.com</a>. YouTrip s&rsquo;engage &agrave; ce que cette diffusion soit faite notamment
                        dans l&rsquo;int&eacute;r&ecirc;t de promouvoir le blog de l&rsquo;utilisateur.</p>

                    <p>L&rsquo;utilisateur du service autorise YouTrip &agrave; communiquer l&#39;adresse de son Blog &agrave; tout organisme, Site Internet ou m&eacute;dia dans le cadre
                        de la promotion g&eacute;n&eacute;rale de leurs services.</p>

                    <h3>Article 11 &ndash; POLITIQUE DE CONFIDENTIALITE</h3>

                    <p>Conform&eacute;ment &agrave; la loi du 6 janvier 1978, l&#39;utilisateur peut &agrave; tout moment acc&eacute;der aux informations personnelles le concernant d&eacute;tenues par
                        YouTrip, demander leur modification ou leur suppression. L&rsquo;utilisateur peut demander que soient rectifi&eacute;es, compl&eacute;t&eacute;es, clarifi&eacute;es,
                        mises &agrave; jour ou effac&eacute;es les informations le concernant qui sont inexactes, incompl&egrave;tes, &eacute;quivoques, p&eacute;rim&eacute;es ou dont la
                        collecte ou l&#39;utilisation, la communication ou la conservation sont interdites.</p>

                    <p>La soci&eacute;t&eacute; YouTrip attire l&rsquo;attention des internautes sur le fait que la loi du 6 Janvier de 1978 n&rsquo;a pas vocation &agrave; obtenir
                        la suppression de donn&eacute;es nominatives publi&eacute;es dans le cadre d&rsquo;articles &agrave; caract&egrave;re informatif et d&rsquo;int&eacute;r&ecirc;t
                        g&eacute;n&eacute;ral.</p>

                    <p>A la cl&ocirc;ture du compte et &agrave; toutes fins de preuve, des donn&eacute;es concernant l&#39;utilisateur peuvent &ecirc;tre conserv&eacute;es et
                        archiv&eacute;es confidentiellement par YouTrip, selon les lois en vigueur.&nbsp;</p>

                    <p>Afin d&#39;am&eacute;liorer la qualit&eacute; de son service et de mieux r&eacute;pondre aux attentes de ses utilisateurs, YouTrip pourra &ecirc;tre
                        amen&eacute; &agrave; collecter des donn&eacute;es nominatives sur l&#39;utilisateur, notamment par l&#39;utilisation de marqueurs (cookies).</p>

                    <h3>Article 12 &ndash; COOPERATION AVEC LES AUTORITES PUBLIQUES</h3>

                    <p>YouTrip a l&#39;obligation l&eacute;gale de coop&eacute;rer avec les autorit&eacute;s qui souhaiteraient effectuer des v&eacute;rifications relatives aux
                        contenus ou &agrave; l&#39;identit&eacute; des utilisateurs du service, et s&#39;y soumet. Les utilisateurs du service se d&eacute;clarent inform&eacute;s que
                        la soci&eacute;t&eacute; YouTrip peut &ecirc;tre d&eacute;livr&eacute;e de son secret professionnel dans les conditions pr&eacute;vues par l&#39;article 6
                        de la loi du 21 Juin 2004, et y consentent.&nbsp;</p>

                    <p>La soci&eacute;t&eacute; YouTrip ne saurait &ecirc;tre tenue pour responsable des contenus qu&rsquo;elle h&eacute;berge. La soci&eacute;t&eacute; YouTrip
                        n&#39;est pas soumise &agrave; une obligation g&eacute;n&eacute;rale de surveiller les informations qu&#39;elle stocke, ni de rechercher des faits ou des
                        circonstances r&eacute;v&eacute;lant des activit&eacute;s illicites.</p>

                    <h3>Article 13 &ndash; MODIFICATIONS ET JURIDICTION COMPETENTE</h3>

                    <p>Les pr&eacute;sentes Conditions G&eacute;n&eacute;rales d&#39;Utilisation sont r&eacute;gies par la Loi Fran&ccedil;aise.&nbsp;</p>

                    <p>Ces pr&eacute;sentes Conditions G&eacute;n&eacute;rales d&#39;Utilisation sont susceptibles d&#39;&ecirc;tre modifi&eacute;es par YouTrip &agrave; tout moment,
                        notamment en cas d&#39;&eacute;volutions techniques, l&eacute;gales ou jurisprudentielles ou lors de la mise en place de nouveaux services. L&rsquo;utilisateur se
                        doit de v&eacute;rifier r&eacute;guli&egrave;rement les pr&eacute;sentes Conditions G&eacute;n&eacute;rales d&rsquo;utilisations et s&#39;engage &agrave;
                        arr&ecirc;ter imm&eacute;diatement toute utilisation du service en cas de d&eacute;sapprobation de celles-ci, l&#39;utilisateur &eacute;tant tenu d&#39;accepter
                        les pr&eacute;sentes Conditions G&eacute;n&eacute;rales d&#39;Utilisation sans r&eacute;serve. D&egrave;s lors que l&#39;utilisateur n&#39;approuve plus les
                        pr&eacute;sentes Conditions G&eacute;n&eacute;rales d&#39;Utilisation, il s&#39;engage &agrave; supprimer int&eacute;gralement son compte du service YouTrip
                        dans les plus brefs d&eacute;lais.&nbsp;</p>

                    <p>L&#39;utilisation du service implique l&#39;acceptation par l&rsquo;utilisateur, de l&#39;ensemble des stipulations d&eacute;crites par les pr&eacute;sentes Conditions
                        d&#39;Utilisation et de toutes les modifications que YouTrip pourrait y apporter.&nbsp;</p>

                    <p>En cas de litiges ou de r&eacute;clamations &eacute;manant de l&#39;utilisateur, de YouTrip ou d&#39;un tiers, relatifs &agrave; l&#39;utilisation du service,
                        seule la version des pr&eacute;sentes Conditions G&eacute;n&eacute;rales d&#39;Utilisations accessible sur le Site
                        <a href="http://www.youTrip.com" target="_blank">www.youTrip.com</a> aura force obligatoire entre les parties, quelle que soit la date des faits
                        litigieux.&nbsp;</p>

                </div>
            </article>

        </div>

    </section>

    <footer>

        {{> classicFooter }}
    </footer>






</template>