<template name="PrivacyPolicyTpl">

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{> blogHeader }}
    <header class="blog-intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row blog-row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="blog-site-heading">
                        <h1>YouTrip</h1>
                        <hr class="small blog-small">
                        <span class="blog-subheading">Welcome on our application</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->




    <h1> Privacy Policy</h1>

    <p>The YouTrip is committed to protect the privacy of individuals who visit the
    website and who make use of the on-line facilities. <br />
        <br>
    This privacy policy provides you with information in terms of articles 19 and 20 of the Data
    Protection Act. It also takes consideration of Recommendation 2/2001 of the Article 29 Data
    Protection Working Party, adopted on 17 May 2001, on certain minimum requirements for
    collecting personal data on-line. <br />
        <br>
    The policy can be easily accessible via a link at the bottom of each web page. </p>

    <h2>Data Controller</h2>
    <p>The data controller of this website is the YouTrip whose office is situated at
    Université de Bordeaux. </p>


    <h2>Information collected and purpose </h2>
    <h3>Download Information </h3>
    <p>When you visit our website the following information will automatically be processed and this
    solely for the use of this association: <br />
        <br>
     The requested web page or download;<br />
        <br>
     Whether the request was successful or not;<br />
        <br>
     The date and time when you accessed the site;<br />
        <br>
     The Internet address of the web site or the domain name of the computer from which
    you accessed the site; <br />
        <br>
     The operating system of the machine running your web browser and the type and
    version of your web browser. </p>


    <h3>Cookies </h3>
    <p>Cookies are small pieces of data that the site transfers to the user’s computer hard drive
    when the user visits the website. Our website uses only session cookies which are erased
    when the user closes the Web browser. The session cookie is stored in temporary memory
    and is not retained after the browser is closed. Session cookies do not collect information
    from the user’s computer. They will typically store information in the form of a session
    identification that does not personally identify the user.  </p>

    <h2> Your rights as data subject</h2>
    <p>As an individual you may exercise your right to access the data held about you by this
    company by submitting your request in writing to the data controller.<br />
        <br>
    Although all reasonable efforts will be made to keep your information updated, you are kindly
    requested to inform us of any change referring to the personal data held by the association.
    In any case if you consider that certain information about you is inaccurate, you may request
    rectification of such data. You also have the right to request the blocking or erasure of data
    which has been processed unlawfully. </p>


    <h2>Links to other Web Sites </h2>
    To give you a better service our site can connect you with a number of links to other local
    and international organisations and agencies. When connecting to such other websites you
    will no longer be subject to this policy but to the privacy policy of the new site.

    <h2> Changes to this Privacy Policy</h2>
    If there are any changes to this privacy policy, we will replace this page with an updated
    version. It is therefore in your own interest to check the "Privacy Policy" page any time you
    access our web site so as to be aware of any changes which may occur from time to time.

    <h2>Feedback</h2>
    Any comments or suggestions that you may have and which may contribute to a better
    quality of service will be welcome and greatly appreciated.
    <footer>

        {{> classicFooterTpl }}

    </footer>






</template>