<template name="blogPostListComponentTpl">

    {{#if isPostsEmpty }}
    <h4>My posts</h4>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Draft</th>
                <th>Date of creation </th>
                <th>Last modification</th>
                <th colspan="1"></th>
            </tr>
        </thead>
        <tbody>
            {{#each posts }}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{ post_attributes.title }}</td>
                    <td>{{ is_draft }}</td>
                    <td>{{ lisibleDate }}</td>
                    <td>{{ lisibleDateModif }}</td>
                    <td>
                        <button data-action="update"
                                class="btn btn-default btn-sm"
                                title="Modify">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button data-action="delete"
                                class="btn btn-default btn-sm"
                                title="Delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button data-action="see"
                                class="btn btn-default btn-sm"
                                title="See the post">
                            <span class="glyphicon glyphicon-share-alt"></span>
                        </button>
                    </td>
                </tr>
            {{/each }}
        </tbody>
    </table>
    {{ else }}
        <p> Any article writes for the moment.</p>
    {{/if }}




</template>
