<template name="classicFooterTpl">


    <div id="conteneur">
        <div class="element">
            <nav class="footerCol1">  
                <h4>Contact & Help</h4>  
                <ul >  
                    <li class="footer_whoarewe">  
                        <a href="/about/aboutUs/" title="Qui sommes-nous ?">Who are we?</a>  
                    </li>  
                    <li class="contact_us">
                        <a href="/about/contactUs/" title="Contacter nous">Contact us</a>  
                    </li>
                </ul>  
            </nav>
        </div>

        <div class="element">
            <nav class="footerCol2">  
                <h4>Legal notice</h4>  
                <ul >  
                    <li class="footer_cgu">  
                        <a id="footer_CGU" href="/help/ELA" title="End-User licence Agreement">End-User licence Agreement</a>  
                    </li>  
                    <li class="footer_privacy">  
                        <a id="footer_Privacy" href="/help/PrivacyPolicy" title="Privacy Policy">Privacy Policy</a>  
                    </li>  
                </ul>   
            </nav>
        </div>

        <div class="element">
            <nav class="footerCol3">  
                <h4>Community & Service</h4>  
                <ul >  
                    <li class="footer_facebook">  
                        <a id="footer_Facebook" href="https://www.facebook.com/" title="Facebook" onclick="window.open(this.href); return false;">Facebook</a>  
                    </li>  
                    <li class="footer_twitter">  
                        <a id="footer_Twitter" href="https://twitter.com/" title="Twitter" onclick="window.open(this.href); return false;">Twitter</a>  
                    </li>  
                </ul>   
            </nav>
        </div>

        <div class="element">
            <nav class="footerCol4">  
                <h4>College Links</h4>  
                <ul >  
                    <li class="footer_universiteBx">  
                        <a id="footer_UniversiteBx" href="https://www.u-bordeaux.fr/" title="Université de Bordeaux" onclick="window.open(this.href); return false;">Université de Bordeaux</a>  
                    </li>  
                    <li class="footer_miage">  
                        <a id="footer_Miage" href="https://miagedev.emi.u-bordeaux1.fr/prod/accueil/" title="MIAGE" onclick="window.open(this.href); return false;">MIAGE</a>  
                    </li>  
                </ul>   
            </nav>
        </div>
    </div>

    <div>  
        <div id="p_center" class="copyright text-muted">Copyright &copy; YouTrip 2016 </div>
    </div>  
</template>