<template name="classicFooterTpl">


    <div id="conteneur">
        <div class="element">
            <nav class="footerCol1">  
                <h4>Aide & Contact</h4>  
                <ul >  
                    <li class="footer_whoarewe">  
                        <a href="/about/aboutUs/" title="Qui sommes-nous ?">Qui sommes-nous ?</a>  
                    </li>  
                    <li class="footer_faq">   
                        <a  href="/about/FAQ/" title="FAQ">FAQ</a>
                    </li>  
                    <li class="contact_us">
                        <a href="/about/contactUs/" title="Contacter nous">Contactez nous ?</a>  
                    </li>
                </ul>  
            </nav>
        </div>

        <div class="element">
            <nav class="footerCol2">  
                <h4>Mentions l&eacute;gales</h4>  
                <ul >  
                    <li class="footer_cgu">  
                        <a id="footer_CGU" href="/help/ConditionsGenerales" title="Conditions g&amp;eacute;n&amp;eacute;rales d&#39;utilisation">Conditions g&eacute;n&eacute;rales d'utilisation</a>  
                    </li>  
                    <li class="footer_privacy">  
                        <a id="footer_Privacy" href="/help/PolitiqueConfidentialite" title="Politique de Confidentialit&amp;eacute; et Protection de la Vie Priv&amp;eacute;e">Politique de Confidentialit&eacute;</a>  
                    </li>  
                </ul>   
            </nav>
        </div>

        <div class="element">
            <nav class="footerCol3">  
                <h4>Communaut&eacute; et service</h4>  
                <ul >  
                    <li class="footer_facebook">  
                        <a id="footer_Facebook" href="https://www.facebook.com/julie.griffault" title="Facebook" onclick="window.open(this.href); return false;">Facebook</a>  
                    </li>  
                    <li class="footer_twitter">  
                        <a id="footer_Twitter" href="https://twitter.com/jer_morin" title="Twitter" onclick="window.open(this.href); return false;">Twitter</a>  
                    </li>  
                </ul>   
            </nav>
        </div>

        <div class="element">
            <nav class="footerCol4">  
                <h4>Liens Universitaires</h4>  
                <ul >  
                    <li class="footer_universiteBx">  
                        <a id="footer_UniversiteBx" href="https://www.u-bordeaux.fr/" title="Université de Bordeaux" onclick="window.open(this.href); return false;">Université de Bordeaux</a>  
                    </li>  
                    <li class="footer_miage">  
                        <a id="footer_Miage" href="https://miagedev.emi.u-bordeaux1.fr/prod/accueil/" title="Miage" onclick="window.open(this.href); return false;">Miage</a>  
                    </li>  
                </ul>   
            </nav>
        </div>
    </div>

    <div>  
        <div id="p_center" class="copyright text-muted">Copyright &copy; YouTrip 2016 </div>
    </div>  
</template>